body {
  display: grid;
  grid-template-columns: 28.2rem 1fr;
  grid-template-rows: 10rem 1fr;
  text-rendering: optimizeLegibility;
}

.FF-search-logo {
  align-self: center;
  justify-self: center;
}

/* Header Section */
/* ***************** */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 21.2rem; */
  /* max-height: 100vh; */
  padding: 1.2rem 0;
  grid-row: 2 / 3;
  border-right: 0.1rem solid #333;
}

.home-link {
  text-decoration: none;
}

.logo-text {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
}

/* Main Navigation */
/* **************** */

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
}

/* Main Content */
/* **************** */

.main-content-grid {
  display: grid;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  /* grid-auto-rows: auto; */
  /* grid-template-columns: repeat(autofill, 1fr); */
  /* grid-template-rows: repeat(autofill, 1fr); */
  /* grid-template-rows: 1fr 1fr; */
  /* gap: 2rem; */
  justify-content: center;
  /* align-items: center; */
  margin-top: 4.8rem;
}

.section--selected-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-game-logo {
  margin-top: 5rem;
  width: 35rem;
  height: 16rem;
}

.quick-view-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quick-view-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 14rem);
  grid-column: 1 / 3;
  /* column-gap: 10rem; */
  gap: 5rem;
  justify-content: center;
  /* align-self: center; */
  padding: 1.2rem 0;
  margin-top: 4.8rem;
}

.character-circle {
  /* background-color: green; */
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.test-circle {
  background-color: green;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.character-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-profile--container {
  padding: 2.4rem 0 2.4rem 2.4rem;
  justify-self: center;
  align-items: center;
}

.character-profile {
  /* padding: 1.6rem 2.4rem; */
}

.character-img {
  height: 48.5rem;
  width: 39rem;
}

.character-data-grid {
  font-size: 2.4rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
  padding: 1.2rem 0;
}

.character-description--container {
  /* grid-column: 2/3; */
  padding: 2.4rem 2.4rem 2.4rem 0;
  text-align: left;
  line-height: 1.6;
}

.character-description {
  /* padding: 1.6rem 2.4rem; */
  font-size: 2.4rem;
}

.back-to-top-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.hidden {
  display: none;
  visibility: hidden;
}
