body {
  display: grid;
  grid-template-columns: 28.2rem 1fr;
  grid-template-rows: 10rem 1fr;
  text-rendering: optimizeLegibility;
}

/* Logo Styles */
/* **************** */

.FF-search-logo {
  align-self: center;
  justify-self: center;
  /* position: relative; */
  color: #fff;

  display: table-cell;
  /* height: 6rem; */
  transform: rotate(-45deg);
  vertical-align: middle;
  /* width: 10rem; */
  margin-bottom: 0.47rem;
}

.logo-text {
  /* color: rgba(191, 124, 128, 1); */
  color: #f9ef57;
  /* text-shadow: 0.2rem 0.2rem 0.2rem #8d4012; */
  text-shadow: 0.1rem 0.1rem 0.2rem #000;
  font-size: 2.4rem;
  /* text-transform: uppercase; */
  font-family: "Noto Serif JP", serif;
  letter-spacing: 0.4rem;
  /* width: 18rem; */
}

.logo-text-EN,
.ff-letters {
  color: rgba(100, 11, 11, 1);
  text-shadow: 0.05rem 0.05rem #000;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  position: absolute;
  left: 4.3rem;
  font-family: "Cinzel", serif;
  font-weight: 700;
  top: 4.2rem;
}

.ff-letters {
  position: absolute;
  left: 6.9rem;
  /* font-size: 1.8rem; */
  font-size: 1.01rem;
  text-shadow: none;
  font-weight: 800;
  top: 4rem;
  line-height: 1.2;
}

.character {
  font-size: 3.8rem;
  letter-spacing: 0.1rem;
}

.diamond-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.diamond {
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-self: center;
  justify-self: center; */
  background: linear-gradient(
    130deg,
    rgba(176, 8, 17, 1),
    rgba(100, 11, 11, 1)
  );
  border: 0.3rem solid #000;
  box-shadow: inset 0 0 0 0.2rem #fff;
  height: 7rem;
  transform: rotate(45deg);
  width: 7rem;
  margin-top: 1rem;
}

.ff-letters-container {
  position: absolute;
  top: 2.5rem;
  left: 13rem;
  line-height: 1.3;
}

.home-link {
  text-decoration: none;
}

/* Header (sidebar) Section */
/* ***************** */

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-y: auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* max-width: 21.2rem; */
  /* max-height: 100vh; */
  /* padding: 2.4rem 0; */
  grid-row: 2 / 3;
  border-right: 0.1rem solid rgb(0, 155, 224);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.3rem;
  margin-top: 3.2rem;
}

.sidebar-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-header {
  padding: 0 2.4rem 2.4rem 2.4rem;
}

.header::-webkit-scrollbar {
  width: 1.2rem;
}

.header::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 155, 224, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 155, 224, 0.3);
}

.header::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 155, 224);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 155, 224);
}

.headline {
  font-family: "Cinzel", sans-serif;
  font-size: 3.6rem;
  text-align: center;
  letter-spacing: 0.2rem;
  /* margin: 20rem 0 0 0; */
}

/* Main Navigation */
/* **************** */

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  /* align-items: center; */
}

.main-nav-link:link,
.main-nav-link:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #114783;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 1s;
}

.main-nav-link:link::before,
.main-nav-link:visited::before {
  content: "";
  position: absolute;
  transition: all 1s;
  transform: scaleX(0);
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-nav-link:hover::before,
.main-nav-link:active::before {
  content: "";
  position: absolute;
  top: 114%;
  width: 100%;
  left: 0;
  height: 0.4rem;
  border-radius: 0.2rem;
  background: linear-gradient(111.3deg, #114783 9.6%, #fff 93.6%);
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Main Content */
/* **************** */

.spinner,
.error {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: 0;
  /* margin: 5rem auto; */
  margin: 0 auto;
  text-align: center;
  padding-top: 6.2rem;
}

.spinner-icon,
.error-icon {
  height: 6rem;
  width: 6rem;
  fill: #076c8a;
  animation: rotate 2s infinite linear;
}

.loading,
.errorMsg-container {
  margin-top: 1.6rem;
}

.loading-text,
.error-text {
  color: #111;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  display: inline;
  animation-name: none;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: none;
}

.dot {
  opacity: 0;
  animation: loading-textseq 0.5s both;
}

@keyframes loading-textseq {
  100% {
    opacity: 1;
  }
}

.first-dot {
  animation-delay: 0.5s;
}

.second-dot {
  animation-delay: 1s;
}

.third-dot {
  animation-delay: 1.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  justify-content: center;
  margin-top: 4.8rem;
  font-family: "Oswald", sans-serif;
}

.section--selected-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  height: fit-content;
}

.selected-game-logo {
  margin-top: 8rem;
  width: 46rem;
  height: 22rem;
}

.fade-in-characters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4rem;
}

.intro-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  margin-right: -5rem;
  border: 2px solid #fff;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.laguna {
  animation-delay: 0s;
}
.cloud {
  animation-delay: 0.5s;
}
.vivi {
  animation-delay: 1s;
}
.rikku {
  animation-delay: 1.5s;
}
.lightning {
  animation-delay: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.divider {
  color: #114783;
  font-size: 2.8rem;
  font-family: "Oswald", sans-serif;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2.8rem; */
  /* margin: 4.8rem; */
  /* padding: 4.8rem; */
}

.divider:before {
  content: "";
  display: block;
  height: 0.09em;
  min-width: 22vw;
  background: linear-gradient(to right, rgba(240, 240, 240, 0), #114783);
  margin-right: 4vh;
}

.divider:after {
  content: "";
  display: block;
  height: 0.09em;
  min-width: 22vw;
  background: linear-gradient(to left, rgba(240, 240, 240, 0), #114783);
  margin-left: 4vh;
}

.quick-view-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
}

.quick-view-grid {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 14rem);
  grid-column: 1 / 3;
  gap: 5rem;
  justify-content: center;
  padding: 8rem 1.2rem;
  margin-top: 16rem;
}

.character-circle,
.character-link {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.game-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.character-circle:hover,
.game-circle:hover {
  outline: #2c81b9ce solid 0.1rem;
}

.number-select {
  text-decoration: none;
  font-size: 4.4rem;
  font-family: "Merriweather", serif;
}

.ffI-circle {
  color: #3e73a9;
}
.ffII-circle {
  color: #dda8d2;
}
.ffIII-circle {
  color: #00aac1;
}
.ffIV-circle {
  color: #542790;
}
.ffV-circle {
  color: #a454a8;
}
.ffVI-circle {
  color: #dd0b1a;
}
.ffVII-circle {
  color: #0d6d56;
}
.ffVIII-circle {
  color: #710c0a;
}
.ffIX-circle {
  color: #ed9b0c;
}
.ffX-circle {
  color: #435ca8;
}
.ffXII-circle {
  color: #867fa8;
}
.ffXIII-circle {
  color: #076c8a;
}
.ffXV-circle {
  color: #13100f;
}

.game-img {
  height: 17.5rem;
  width: 38rem;
}

/* .character-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Character Profiles */
/* **************** */

.character-profile--container,
.game-profile--container {
  padding: 2.4rem 0 2.4rem 6.4rem;
  justify-self: center;
  align-items: center;
}

.game-profile--container {
  padding: 2.4rem 0 2.4rem 8rem;
}

.character-img {
  height: 48.5rem;
  width: 39rem;
}

.character-data-grid {
  font-size: 2.4rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
  padding: 1.2rem 0;
}

.game-data-flex {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
  padding: 3rem 0;
  font-size: 2.8rem;
}

.character-description--container,
.game-description--container {
  /* grid-column: 2/3; */
  padding: 2.4rem 6.4rem 2.4rem 0;
  text-align: left;
  line-height: 2.4;
}

.game-description--container {
  padding: 2.4rem 8rem 2.4rem 0;
}

.character-description,
.game-description {
  /* padding: 1.6rem 2.4rem; */
  font-size: 2.4rem;
}

.game-name,
.character-name {
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
}

/* Back-to-top and 'Footer' */
/* **************** */

.back-to-top-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #2c81b9ce;
  opacity: 100%;
  transition: all 0.5s;
}

.back-to-top-btn:hover {
  opacity: 60%;
}

.back-to-top-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
}

.hidden {
  opacity: 0%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 0;
  border-top: 1px solid #2c81b9ce;
  height: 26.5rem;
}

.footer-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: rgb(90, 6, 10);
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.3;
}

.social-links {
  padding: 3.2rem 0;
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  fill: rgba(176, 8, 17, 1);
  color: rgba(176, 8, 17, 1);
  height: 2.4rem;
  width: 2.4rem;
}

.social-icon:hover {
  color: rgb(62, 7, 7);
  fill: rgb(62, 7, 7);
}
