body {
  display: grid;
  grid-template-columns: 21.2rem 1fr;
  grid-template-rows: 6rem 1fr;
}

.FF-search-logo {
  align-self: center;
  justify-self: center;
}

/* Header Section */
/* ***************** */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 21.2rem; */
  /* max-height: 100vh; */
  padding: 1.2rem 0;
  grid-row: 2 / 3;
  border-right: 0.1rem solid #333;
}

.home-link {
  text-decoration: none;
}

.logo-text {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
}

/* Main Navigation */
/* **************** */

.main-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
}

.main-nav-link:hover,
.main-nav-link:active {
}

.main-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.quick-view-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1 / 3;
}
